@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(90deg, rgb(1, 1, 62), rgb(2, 2, 94) 0%, 35%, rgb(85, 108, 238) 100%);
}
.login-page {
  transform: translateX(0%);
  transition: transform 0.3s ease-in-out;
}

.signup-page {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}